@page
@model AboutMeModel


    @{
        ViewData["Title"] = "About Me";
    }

    <h1 class="display-4">@ViewData["Title"]</h1>
    <div>
        <h3 class="h3Class" style="font-family: Courier New, Courier, monospace"> About Me! </h3>
        <p class="para">
            I am a Graduate student at the University of California, Riverside pursuing a masters degree in Computer Science.
        </p>
        <h3 class="h3Class" style="font-family: Courier New, Courier, monospace"> Why front-end? </h3>
        <p class="para">
            The design of a system is something which makes the impressions last. Also, it determines how the users will respond to the content and how often will they visit it. The generation of fresh new ideas and how the smallest detail matters is something that inspires me to choose this field.
        </p>

        <h3 class="h3Class" style="font-family: Courier New, Courier, monospace"> Why I built the site this way</h3>
        <p class="para">
            Basic UX/UI design principles are implemented for building this website. A white theme is used to maintain consistency and accessibility while giving it a sense of style using typography. This is done targetting the user base. As this is a site related to a specific species, the users can be sensitive and sympathetic. What they would want is a simple website giving out the relevant details in a clear manner. Hierarchy is maintained across the site using the navigation bar and hyperlinks. A feedback form is introduced so that the users can express there views while browsing. There is also a page for facts which will help the users to connect with the contents of the site.
        </p>
        <h3 class="h3Class" style="font-family: Courier New, Courier, monospace"> Frameworks that I used</h3>
        <p class="para">
            I used the .NET framework for building this website in which I used ASP.NET combined with HTML, CSS, javascript, razor, etc.
        </p>
        
    </div>


