@page
@model FunFactsModel
@{
    ViewData["Title"] = "Fun Facts";
}
<div class="row">
    <div class="column">
        <div class="card">
            <p><i class="fa fa-book"></i></p>
            <h3>Fact 1:</h3>
            <p>Llamas can grow as much as 6 feet tall</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-check"></i></p>
            <h3>Fact 2:</h3>
            <p>Llamas are the members of the Camelid family</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-smile-o"></i></p>
            <h3>Fact 3:</h3>
            <p>Llamas yarn is lightweight and warm</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-coffee"></i></p>
            <h3>Fact 4:</h3>
            <p>Llamas are social animals</p>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="column">
        <div class="card">
            <p><i class="fa fa-sticky-note"></i></p>
            <h3>Fact 5:</h3>
            <p>Llamas were first domesticated and used as pack animals</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-thumbs-up"></i></p>
            <h3>Fact 6:</h3>
            <p>During the last ice age (10,000-12,000 years ago) camelids went extinct in North America.</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-tablet"></i></p>
            <h3>Fact 7:</h3>
            <p>Camelids first appeared on the Central Plains of North America about 40 million years ago.</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-bookmark"></i></p>
            <h3>Fact 8:</h3>
            <p>Llamas weigh between 280 and 450 pounds and can carry 25 to 30 percent of their body weight</p>
        </div>
    </div>
</div>
<br />
<br />


