@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<br />
<p>This website is developed for the challenge given by Zappos.</p>
<ul>
    <li>No information is collected by the website.</li>
    <li>The data is collected off the opensource internet.</li>
    <li>Any sensitive information isn't recorded.</li>
    <li>Sources are cited.</li>
</ul>
